{% extends 'admin_panel.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/add_notification_add">
  <table class="table table-bordered">
    <tr>
      <th scope="row" width="150px">Subject</th>
      <td><input type="text" name="textfield" id="textfield"  required="required" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Content</th>
      <td><input type="text" name="textfield2" id="textfield2"  required="required" class="form-control"/></td>
    </tr>
    <tr>
      <th></th>
     <th><input type="submit" name="button" id="button" value="submit" class="btn btn-success"/></th>
    </tr>
    </tr>
  </table>
</form>
{% endblock %}
