{% extends 'officer_panel.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/agriculture_notification">
  <thrad width="200" border="1">
    <tr>
      <th scope="row">subject</th>
      <td><input type="text" name="textfield" id="textfield"  required="required"/></td>
    </tr>
    <tr>
      <th scope="row">content</th>
      <td><input type="text" name="textfield2" id="textfield2"  required="required"/></td>
    </tr>
  </thrad>
      </table>
</form>
{% endblock %}
