{% extends 'public_pannel.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
          <thead class="thead-light">
    <tr>
      <th width="34" height="29" scope="row">s/no</th>
      <th width="50">photo</th>
      <th width="27">pic</th>
      <th width="146">discription</th>
    </tr>
      {% for k in data %}
          </thead>
    <tr>
      <th scope="row">{{ loop.index }}&nbsp;</th>
      <td>{{ k['name'] }}&nbsp;</td>
      <td>&nbsp;<img src="{{ k['pic'] }}" width="90"></td>
      <td>&nbsp;{{ k['descrription']}}</td>
    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}