{% extends 'subadmin_panel.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<input type="hidden" name="id" value="tips_id"/>
 <table width="200" border="1" class="table table-bordered">
          <thead class="thead-light">


    <tr>
      <th width="34" scope="row">s/no</th>
      <th width="56">subject</th>
      <th width="56">content</th>
      <th width="102">&nbsp;</th>
    </tr>
      {% for k in data %}
          </thead>
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>&nbsp;{{ k['subject'] }}</td>
      <td>&nbsp;{{ k['content'] }}</td>
      <td><button type="button" class="btn btn-danger" style="padding: 4px 23px;"><a href="/remove_tips/{{ k["tips_id"] }}"><font color="#FFFFFF">Remove</font></a></button></th>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
